<component name="ArtifactManager">
  <artifact type="war" name="springbootjsp:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-boot-jsp.war">
      <element id="artifact" artifact-name="springbootjsp:war exploded" />
    </root>
  </artifact>
</component>